#et{
	background-color: #931296;
}
#footer{
	position:absolute;
    bottom:0;
    width:100%;
}
#a{
	margin-bottom: 20px;
}
#mario{
	text-align: right;
}
#sonic{
	text-align: left;
}
.espaco{
	width: 100px;
	height: 100px;
	border:2px solid #000;
	float: left;
	text-align: center;
	padding-top: 50px;
}

.ls{
	margin-left: 40px;
	margin-top: 15px;
}

#main{
	width: 400px;
	height: 460px;
	margin:auto;
	padding: 10px;
	text-align: center;
	background-color: white;
}

#back{
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#vencedor{
	margin-left: 40px;
	margin-top: 340px;
	width: 300px;
	height: 50px;
	background-color: yellow;
	border-radius: 3.0rem;
	border:4px solid #000;
}
#topo{
	width: 100%;
	height: 60px;
	text-align:center;
	background-color: #1462FF;
	border-bottom: 2px solid black;
}
#placar{
	margin-top: 10px;
	margin-bottom: 25px;
	margin-left: 680px;
	width: 29%;
	height: 60px;
	text-align:center;
	background-color: #FC0F0F;
	border: 2px solid black;
	border-radius: 2.5rem;
}
#btn{
	margin-top: 15px;
}